{
  "openapi": "3.0.0",
  "info": {
    "title": "Certbot Manager API",
    "version": "1.2.0",
    "description": "A secure mTLS gateway for managing Certbot certificates via API.\n\n---\n\n## 🔐 Authentication Model (mTLS)\n\nThis API uses **mutual TLS (mTLS)**.\n\nThat means:\n- The server verifies the client certificate\n- The client must present a valid certificate during the TLS handshake\n\n---\n\n## 🌐 Using Swagger UI (this page)\n\nSwagger UI can describe and send requests, but:\n\n⚠️ It does NOT upload or manage client certificates.\n\nTo successfully call protected endpoints from this UI:\n1. Your browser must already have the client certificate installed\n2. The certificate must be trusted by the API server\n3. The browser must present the certificate during connection\n\nIf this is not configured:\n- Requests to protected endpoints will fail\n- This is expected behavior\n\n---\n\n## 🧪 Recommended Testing (CLI)\n\nUse curl or the provided script:\n\n```bash\ncurl \\\n  --cacert ca.crt \\\n  --cert mtls-client-identity.crt \\\n  --key mtls-client-identity.key \\\n  https://x.mydatacenter.io:8000/certs\n```\n\nOr:\n\n```bash\n./test-api.sh list\n```\n\n---\n\n## 🧭 Suggested Flow\n\n1. Call `/healthcheck` (no mTLS required)\n2. Try protected endpoints in Swagger UI (may fail)\n3. Copy curl example\n4. Run via CLI or test-api.sh\n\n---\n"
  },
  "servers": [
    {
      "url": "https://x.mydatacenter.io:8000",
      "description": "Cert Manager API (mTLS required for protected endpoints)"
    }
  ],
  "components": {
    "securitySchemes": {
      "mutualTLS": {
        "type": "mutualTLS",
        "description": "Protected endpoints require a valid client certificate issued by the trusted client-auth CA. Swagger UI will only work if the browser is already configured with this certificate."
      }
    },
    "schemas": {
      "Certificate": {
        "type": "object",
        "required": ["fqdn", "dns_provider", "email"],
        "properties": {
          "fqdn": {
            "type": "string",
            "example": "test.example.com",
            "description": "Fully qualified domain name"
          },
          "dns_provider": {
            "type": "string",
            "example": "cloudflare",
            "description": "DNS provider used for ACME challenge"
          },
          "email": {
            "type": "string",
            "example": "admin@example.com",
            "description": "Contact email for certificate registration"
          }
        }
      },
      "MessageResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "example": "Operation completed successfully"
          }
        }
      },
      "HealthResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "example": "UP"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "example": "2026-04-02T01:11:48Z"
          }
        }
      }
    }
  },
  "paths": {
    "/healthcheck": {
      "get": {
        "summary": "Service Status",
        "description": "Public endpoint to verify API availability. Does NOT require mTLS.\n\n### Example\n```bash\ncurl https://x.mydatacenter.io:8000/healthcheck\n```",
        "responses": {
          "200": {
            "description": "System is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                }
              }
            }
          }
        }
      }
    },
    "/certs": {
      "get": {
        "summary": "List Certificates",
        "description": "Returns all configured certificates.\n\n🔐 **mTLS required**\n\n### CLI Example\n```bash\ncurl \\\n  --cacert ca.crt \\\n  --cert mtls-client-identity.crt \\\n  --key mtls-client-identity.key \\\n  https://x.mydatacenter.io:8000/certs\n```\n\n### Swagger UI Note\nThis will only work if your browser is already configured with a valid client certificate.",
        "security": [{"mutualTLS": []}],
        "responses": {
          "200": {
            "description": "List of certificates",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Certificate"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Add Certificate",
        "description": "Creates a new certificate entry.\n\n🔐 **mTLS required**\n\n### CLI Example\n```bash\ncurl -X POST \\\n  --cacert ca.crt \\\n  --cert mtls-client-identity.crt \\\n  --key mtls-client-identity.key \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"fqdn\":\"test.example.com\",\"dns_provider\":\"cloudflare\",\"email\":\"admin@example.com\"}' \\\n  https://x.mydatacenter.io:8000/certs\n```",
        "security": [{"mutualTLS": []}],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Certificate"
              },
              "example": {
                "fqdn": "test.example.com",
                "dns_provider": "cloudflare",
                "email": "admin@example.com"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                },
                "example": {
                  "message": "Certificate entry created successfully"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Remove Certificate",
        "description": "Deletes a certificate entry.\n\n🔐 **mTLS required**\n\n### CLI Example\n```bash\ncurl -X DELETE \\\n  --cacert ca.crt \\\n  --cert mtls-client-identity.crt \\\n  --key mtls-client-identity.key \\\n  \"https://x.mydatacenter.io:8000/certs?fqdn=test.example.com\"\n```",
        "security": [{"mutualTLS": []}],
        "parameters": [
          {
            "name": "fqdn",
            "in": "query",
            "required": true,
            "schema": { "type": "string" },
            "example": "test.example.com"
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                },
                "example": {
                  "message": "Certificate entry removed successfully"
                }
              }
            }
          }
        }
      }
    },
    "/reload": {
      "post": {
        "summary": "Reload Certbot",
        "description": "Restarts the certbot-related container.\n\n🔐 **mTLS required**\n\n### CLI Example\n```bash\ncurl -X POST \\\n  --cacert ca.crt \\\n  --cert mtls-client-identity.crt \\\n  --key mtls-client-identity.key \\\n  https://x.mydatacenter.io:8000/reload\n```",
        "security": [{"mutualTLS": []}],
        "responses": {
          "200": {
            "description": "Container restarted",
            "content": {
              "application/json": {
                "example": {
                  "message": "Container restarted successfully"
                }
              }
            }
          }
        }
      }
    }
  }
}